.body
{
    margin : 0px;
    
}
html
{
    scroll-behavior: smooth;
    background-color: rgb(245, 247, 247);
}
.images
{
    display: flex;
    flex-direction: row;
    margin: 20vh 15vh 5vh 15vh;
    align-items: center;
    justify-content: center;
    /* padding: 10px; */
}
img
{
    width: 276px;
    height: 276px;
    margin: 5px;
}
.images img:hover
{
    width: 285px;
    height: 285px;
}
.most
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid grey;
    width: 70vw;
    border-radius: 10px;
    padding-left: 10px;
}
.all
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border-radius: 10px; */
}
h4
{
    margin: 10px;
}
.select
{
    height: 10px;
}
.att
{
    padding: 3px;
    border: 2px solid grey;
    height: 30px;
}
h3
{
    color: blue;
}