.body
{
    margin : 0px;
    
}
html
{
    scroll-behavior: smooth;
    background-color: rgb(245, 247, 247);
}
.images
{
    display: flex;
    flex-direction: row;
    margin: 20vh 15vh 0vh 15vh;
    align-items: center;
    justify-content: center;
    /* padding: 5px; */
}
img
{
    width: 276px;
    height: 276px;
    margin: 5px;
}
.images img:hover
{
    width: 285px;
    height: 285px;
}